@charset "UTF-8";
/* ---- Variables ---- */
/* ---- Mixins ---- */
/* ---------- Classes ---------*/
/* Discount label */
.discount {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 50px;
  border-radius: 5px 0px;
  background-color: #EF3F3F;
  color: white;
}

/* Save & preview btns */
.save, .preview {
  position: absolute;
  width: 30px;
  top: 35%;
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
}
.save:hover, .preview:hover {
  background-color: #EF3F3F;
  color: white;
}
.save.active, .preview.active {
  background-color: #EF3F3F;
  color: white;
}

.save {
  left: 35%;
}

.preview {
  left: 50%;
}

/* Rate list */
.rate {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: center;
  color: #ffb100;
  margin: 0px;
}

/* Price of Items */
.price {
  color: #EF3F3F;
}

.price::before {
  content: "$";
}

.oldPrice {
  color: gray;
  text-decoration: line-through;
  font-size: 0.9em;
}

/* Offer Counter */
.counter {
  list-style: none;
  padding: 0px;
}
.counter li {
  background-color: #ecebeb;
  border: 1px solid gray;
  display: inline-block;
  height: 50px;
  width: 22.5%;
  border-radius: 5px;
  font-size: 0.7em;
}
.counter li span {
  display: block;
  font-size: 1.4em;
  font-weight: 500;
}

/* Add to cart Btn */
.Add {
  padding: 15px;
  border: 1px solid darkgray;
  border-radius: 20px;
  outline: none !important;
  font-size: 0.8em;
  background-color: white;
  transition: all 0.5s ease;
}
.Add:hover {
  background-image: linear-gradient(#ff6363, #b32c2c);
  color: white;
}

.upperNavbar {
  background-color: #2B3345;
  padding: 0px;
}
.upperNavbar .navbar-brand {
  color: #CCCDD1;
}
.upperNavbar .navbar-brand span {
  color: #EF3F3F;
}
.upperNavbar .navbar-brand::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin: 0px 3px;
  color: #EF3F3F;
}
.upperNavbar .navbar-brand:hover {
  color: #EF3F3F;
}
.upperNavbar .collapse {
  justify-content: flex-end;
  font-size: 0.9em;
  color: #CCCDD1;
}
.upperNavbar .collapse .navbar-nav .nav-link {
  color: #CCCDD1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.upperNavbar .collapse .navbar-nav .nav-link:hover {
  color: #EF3F3F;
}
.upperNavbar .collapse .navbar-nav form {
  padding: 15px;
  width: 200px;
}
.upperNavbar .collapse .navbar-nav form label {
  display: block;
  font-size: 0.8em;
  margin: 7px 0px;
}
.upperNavbar .collapse .navbar-nav form input {
  display: block;
  width: 100%;
  height: 25px;
  border: 1px solid gray;
  border-radius: 5px;
}
.upperNavbar .collapse .navbar-nav form button {
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 5px;
  border: none;
  background-color: #2B3345;
  color: #CCCDD1;
}
.upperNavbar .collapse .navbar-nav form a {
  display: block;
  font-size: 0.8em;
  color: #2b3345;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.upperNavbar .collapse .navbar-nav form a:hover {
  color: #EF3F3F;
}
@media (max-width: 992px) {
  .upperNavbar .collapse .navbar-nav form {
    width: auto;
  }
}

.upperMenu {
  background-color: #38425a;
  padding: 15px 0px;
}
@media (max-width: 992px) {
  .upperMenu {
    font-size: 0.9em;
  }
}
.upperMenu .row {
  align-items: center;
}
.upperMenu .row .cart {
  position: relative;
  background-color: white;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}
.upperMenu .row .cart .cart-btn:hover .name {
  color: #EF3F3F;
}
.upperMenu .row .cart .cart-btn .itemsNum {
  position: absolute;
  top: -10px;
  left: 40px;
  width: 20px;
  text-align: center;
  font-size: 0.9em;
  color: white;
  border-radius: 50%;
  background-color: #EF3F3F;
}
.upperMenu .row .cart .cart-btn .name::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-right: 5px;
  padding: 14px 10px;
  border-right: 1px solid #80808070;
}
.upperMenu .row .cart .cart-body {
  position: absolute;
  z-index: 4;
  top: 40px;
  width: 200%;
  text-align: center;
  background-color: #ECEBEB;
  -webkit-box-shadow: 3px 3px 5px gray;
  -moz-box-shadow: 3px 3px 5px gray;
  -o-box-shadow: 3px 3px 5px gray;
  box-shadow: 3px 3px 5px gray;
  overflow: auto;
  display: none;
}
@media (max-width: 786px) {
  .upperMenu .row .cart .cart-body {
    width: 150%;
    left: -25%;
  }
}
.upperMenu .row .cart .cart-body h6:first-child {
  padding: 10px;
  background-image: linear-gradient(#ff6363, #b32c2c);
  color: white;
  margin: 0px;
}
.upperMenu .row .cart .cart-body .item {
  position: relative;
  display: flex;
  padding: 10px 20px;
  align-items: center;
}
.upperMenu .row .cart .cart-body .item .del {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 20px;
}
.upperMenu .row .cart .cart-body .item img {
  width: 65px !important;
  height: 65px;
  border: 1px solid #2B3345;
  border-radius: 50%;
  margin: 10px;
  padding: 2px;
  flex: none;
}
.upperMenu .row .cart .cart-body .item h6 {
  margin: 0px 5px;
}
.upperMenu .row .cart .cart-body .item .count {
  margin: 0px 3px;
}
.upperMenu .row .cart .cart-body .item .count::after {
  content: " * ";
}
.upperMenu .row .cart .cart-body .item:not(:first-of-type)::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}
.upperMenu .row .cart .cart-body .total {
  width: 40%;
  padding: 10px;
  margin: 10px auto 0px;
  background-image: linear-gradient(#ff6363, #b32c2c);
  border-radius: 10px 10px 0px 0px;
  color: white;
}
.upperMenu .row .cart .cart-body .total span::before {
  content: "$";
}
.upperMenu .row .mainNav {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.upperMenu .row .mainNav li {
  display: inline-block;
  color: #CCCDD1;
  width: 17.5%;
}
.upperMenu .row .mainNav li a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.upperMenu .row .mainNav li a:hover {
  color: #EF3F3F;
  border-color: #EF3F3F;
}
.upperMenu .row .mainNav i {
  background-image: linear-gradient(#ff6363, #b32c2c);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.upperMenu .row .categories {
  background-image: linear-gradient(#ff6363, #b32c2c);
  position: relative;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.upperMenu .row .categories span::after {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
  margin: 0px 15px;
}
.upperMenu .row .categories ul {
  list-style: none;
  background-color: white;
  position: absolute;
  z-index: 5;
  top: 40px;
  left: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
  border: solid #EF3F3F;
  border-width: 0px 2px 2px 2px;
  border-radius: 5px;
  display: none;
}
.upperMenu .row .categories ul li:not(:last-of-type)::after {
  content: "";
  width: 100%;
  height: 1px;
  margin: 5px 0px;
  background-color: #80808057;
  display: block;
}
.upperMenu .row .categories ul a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.upperMenu .row .categories ul a:hover {
  color: #EF3F3F;
}
@media (max-width: 992px) {
  .upperMenu .row {
    justify-content: center;
  }
  .upperMenu .row .cart, .upperMenu .row .mainNav {
    margin-bottom: 15px;
  }
}

.saved {
  position: fixed;
  z-index: 15;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.saved .saved-body {
  width: 80%;
  height: 80%;
  margin: 5% auto;
  background-color: #ECEBEB;
  border-radius: 10px;
  overflow: auto;
}
.saved .saved-body .head {
  position: relative;
  background-color: #38425A;
}
.saved .saved-body .head h5 {
  width: 25%;
  display: inline-block;
  margin: 0px;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(45deg, #38425A, #586a96);
  color: white;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}
@media (max-width: 786px) {
  .saved .saved-body .head h5 {
    font-size: 0.9em;
  }
}
.saved .saved-body .head .clear {
  position: absolute;
  right: 50px;
  padding: 10px;
  color: #d0cece;
}
@media (max-width: 786px) {
  .saved .saved-body .head .clear {
    font-size: 0.7em;
    right: 20px;
  }
}
.saved .saved-body .head .clear::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin: 5px;
}
.saved .saved-body .head .clear:hover {
  color: black;
  cursor: pointer;
}
.saved .saved-body .head .close {
  color: white;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 786px) {
  .saved .saved-body .head .close {
    font-size: 0.7em;
  }
}
.saved .saved-body .saved-item img {
  display: inline-block !important;
  width: 25% !important;
  height: 180px;
  padding: 20px 50px;
  border-radius: 30%;
}
.saved .saved-body .saved-item .itemName {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 1.25em;
}
.saved .saved-body .saved-item .price {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 1.25em;
}
.saved .saved-body .saved-item .add {
  display: inline-block;
  width: 25%;
}
@media (max-width: 992px) {
  .saved .saved-body .saved-item .itemName, .saved .saved-body .saved-item .price {
    font-size: 1em;
  }
  .saved .saved-body .saved-item img {
    padding: 20px 10px;
  }
}

.gallery-preview {
  position: fixed;
  z-index: 15;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.gallery-preview .row {
  position: relative;
  align-items: center;
  margin-top: 5%;
  padding: 5%;
  background-color: white;
  box-shadow: 5px 5px 8px;
}
.gallery-preview .row .fa-times {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.5em;
  cursor: pointer;
}
.gallery-preview .row img {
  max-height: 400px;
  padding: 3px;
  border: 2px solid #EF3F3F;
}
.gallery-preview .row .details .item-label {
  text-align: center;
  font-size: 1.5em;
}
.gallery-preview .row .details .item-label h6 {
  font-size: 1.5em;
  padding: 10px;
  margin: 0px 0px 20px;
  background-color: #38425A;
  color: white;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
}
.gallery-preview .row .details .item-label .price {
  font-size: 1.2em;
}
@media (max-width: 992px) {
  .gallery-preview .row .details .item-label {
    font-size: 0.8em;
  }
}
.gallery-preview .row .details .item-counter {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
  margin-left: 40%;
}
.gallery-preview .row .details .Add {
  margin: auto;
  border: none;
  padding: 15px;
  background-color: #ef3f3f;
  color: white;
}
@media (max-width: 992px) {
  .gallery-preview .row .details {
    font-size: 0.8em;
  }
}

.alert-container {
  position: fixed;
  z-index: 15;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.alert-container .alert {
  width: 80%;
  padding: 20px 0px;
  margin: auto;
  top: 20%;
  background-color: #2B3345;
  color: #d2d1d1;
  text-align: center;
  border: none;
}

.fa-angle-double-up {
  position: fixed;
  bottom: 40px;
  left: 30px;
  font-size: 2em;
  padding: 5px 10px;
  border: 1px solid #EF3F3F;
  color: #EF3F3F;
  border-radius: 5px;
  transition: all 1s ease;
  display: none;
}
.fa-angle-double-up:hover {
  color: white;
  background-color: #EF3F3F;
  cursor: pointer;
}

.mailing {
  background-color: #38425a;
  color: white;
  padding: 10px 2%;
}
.mailing .social {
  display: inline-block;
  list-style: none;
  padding: 0px;
  width: 30%;
  margin: 0px;
  text-align: center;
}
.mailing .social li {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 2%;
}
.mailing .social li:hover {
  color: #EF3F3F;
}
.mailing form {
  display: inline-block;
}
.mailing form input {
  height: 35px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 200px;
  outline: none;
}
.mailing form button {
  height: 35px;
  border-radius: 10px;
  background-color: #ef3f3f;
  outline: none;
  border: none;
  color: white;
}
@media (max-width: 992px) {
  .mailing .social {
    display: block;
    margin: 5px auto;
  }
  .mailing form {
    display: block;
    text-align: center;
  }
}

.footer {
  background-color: #2B3345;
  color: white;
  padding: 5px 5%;
  text-align: center;
}
.footer .menu {
  list-style: none;
  padding: 0px;
  margin-bottom: 10px;
}
.footer .menu li {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 2%;
}
.footer .menu li:hover {
  color: #EF3F3F;
}
.footer .menu li a {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
}
.footer .menu li a:hover {
  color: #EF3F3F;
}
.footer p {
  display: inline-block;
}
.footer p span {
  color: #EF3F3F;
}

/* ------------------------- Home Page ----------------*/
@media (max-width: 576px) {
  .banners .banner1 {
    display: none;
  }
}
.banners .banner1 .slideShow1 {
  margin: 20px 0px;
}
.banners .banner1 .slideShow1 .carousel-inner {
  border-radius: 15px;
}
.banners .banner1 .slideShow1 .carousel-inner .carousel-item {
  height: 400px;
  border-radius: 5px;
}
.banners .banner1 .slideShow1 .carousel-inner .carousel-item img {
  height: 100%;
}
.banners .banner1 .slideShow2 img {
  height: 150px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.banners .banner1 .slideShow2 img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.banners .banner2 {
  border: 2px solid #EF3F3F;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
}
@media (max-width: 786px) {
  .banners .banner2 {
    margin: 20px auto;
  }
}
.banners .banner2 h4 {
  margin-top: 10px;
}
.banners .banner2 a {
  background-color: #EF3F3F;
  height: 25px;
  width: 10%;
  top: 0px;
}
.banners .banner2 .carousel-item img {
  height: 300px;
}
.banners .banner2 .carousel-item .carousel-caption {
  position: static;
  color: black;
}
@media (min-width: 576px) {
  .banners .banner2 .carousel-item .carousel-caption {
    display: block !important;
  }
}
.banners .banner2 .carousel-item .carousel-caption .item-counter {
  opacity: 0;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
}
.banners .banner2 .carousel-item:hover .save, .banners .banner2 .carousel-item:hover .preview, .banners .banner2 .carousel-item:hover .item-counter {
  opacity: 1;
}

.features {
  margin: 40px 0px;
}
.features .row {
  border: 1px solid #EF3F3F;
  border-radius: 5px;
}
.features .row .feature {
  text-align: center;
  padding-top: 20px;
}
.features .row .feature i {
  color: #ef3f3f;
  font-size: 2em;
  margin-bottom: 15px;
}
.features .row .feature:not(:last-of-type) {
  border-right: 1px solid #ef3f3f63;
}

.products-section {
  background-color: #eae9e9;
  padding: 30px 0px;
}
.products-section .products-show {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 0px;
  background-color: white;
  border-radius: 10px;
}
.products-section .products-show .header {
  position: relative;
  background-color: #2B3345;
  border-bottom: 2px solid #EF3F3F;
}
.products-section .products-show .header h5 {
  width: 200px;
  text-align: center;
  background-color: #EF3F3F;
  color: white;
  padding: 10px;
  margin: 0px;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
}
.products-section .products-show .header .left, .products-section .products-show .header .right {
  position: absolute;
  top: 5px;
  color: #EF3F3F;
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.products-section .products-show .header .left:hover, .products-section .products-show .header .right:hover {
  color: #fb9494;
  cursor: pointer;
}
.products-section .products-show .header .left {
  right: 40px;
}
.products-section .products-show .header .right {
  right: 10px;
}
.products-section .products-show .products-slider {
  width: 4000px;
}
.products-section .products-show .products-slider .product {
  position: relative;
  float: left;
  text-align: center;
  padding: 20px 0px;
  transition: all 0.5s ease;
}
.products-section .products-show .products-slider .product:hover {
  background-color: #eaa0aa;
  box-shadow: 5px 5px 10px gray;
}
.products-section .products-show .products-slider .product:hover .save, .products-section .products-show .products-slider .product:hover .preview {
  opacity: 1;
}
.products-section .products-show .products-slider .product:hover img {
  transform: scale(1.1);
}
.products-section .products-show .products-slider .product:hover .item-counter {
  display: inline-block;
}
.products-section .products-show .products-slider .product img {
  width: 80% !important;
  height: 200px;
  margin: 0px 0px 10px;
  border-radius: 15%;
  border: 1px solid #b72f2f;
  padding: 3px;
  transition: all 0.5s ease;
}
.products-section .products-show .products-slider .product .price {
  display: block;
  margin-bottom: 10px;
}
.products-section .products-show .products-slider .product .item-counter {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
  display: none;
}

.partners .row {
  margin: 0px;
}
.partners .row .partner {
  height: 150px;
}
.partners .row .partner img {
  width: 100%;
  max-height: 100%;
}

/* -------------------------- About Page -----------------*/
.about {
  text-align: center;
}
.about h1 {
  width: 250px;
  margin: 50px auto 0px;
  padding: 10px;
  background-color: #38425a;
  box-shadow: 5px 5px 10px black;
  color: white;
}
.about img {
  width: 100%;
  height: 450px;
  margin: 50px 0px;
}
.about p {
  width: 80%;
  margin: auto;
  text-align: center;
  color: gray;
}
.about .social {
  list-style: none;
  margin: 50px 0px;
  text-align: center;
}
.about .social li {
  display: inline-block;
  margin: 10px;
  font-size: 1.5em;
  border: 1px solid #d6d4d4;
  padding: 5px 15px;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.about .social li:hover {
  background-color: #EF3F3F;
  color: white;
  cursor: pointer;
}
.about .features .row {
  border: none;
}
.about .features .row .feature {
  border-right: none;
}

.team {
  text-align: center;
}
.team .row .member {
  position: relative;
  background-color: #f0f0f1;
  margin: 4%;
  padding: 0px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.team .row .member img {
  width: 100%;
  height: 70%;
  margin: auto;
}
.team .row .member h5 {
  font-size: 1em;
  padding-top: 10px;
}
.team .row .member .social {
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100%;
  background-color: #8080806b;
  left: 0%;
  top: 55%;
  font-size: 1.2em;
  color: #ffffffbf;
}
.team .row .member .social li {
  display: inline-block;
  margin: 2%;
}
.team .row .member .social li:hover {
  color: #EF3F3F;
  cursor: pointer;
}

.testimonial {
  background-color: #eae9e9;
  margin: 20px 0px;
  box-shadow: 5px 5px 10px grey;
}
.testimonial .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #EF3F3F;
}
.testimonial .carousel-inner .carousel-item img {
  width: 15% !important;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
}
.testimonial .carousel-inner .carousel-item .carousel-caption {
  position: static;
  width: 50%;
  margin: 10px auto;
  color: black;
}
@media (max-width: 992px) {
  .testimonial {
    font-size: 0.7em;
  }
  .testimonial img {
    width: 100px;
    height: 100px;
  }
  .testimonial .carousel-caption {
    display: block !important;
  }
}
.testimonial a {
  background-color: #EF3F3F;
  width: 50px;
  height: 50px;
  top: 40%;
}

/* --------------------------- Contacts Page ------------- */
.contacts {
  text-align: center;
}
.contacts h1 {
  width: 250px;
  margin: 50px auto;
  padding: 10px;
  background-color: #38425a;
  box-shadow: 5px 5px 10px black;
  color: white;
}
.contacts p {
  width: 70%;
  margin: auto;
}
.contacts .details {
  margin: 40px 0px;
}
.contacts .details .row .feature {
  text-align: center;
  padding-top: 20px;
}
.contacts .details .row .feature i {
  color: #ef3f3f;
  font-size: 2em;
  margin-bottom: 15px;
}
.contacts .details .row .feature p {
  color: gray;
}

.send-message {
  text-align: center;
  padding: 50px 0px;
}
.send-message form input {
  width: 30%;
  height: 35px;
  margin: 20px 1%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #bfbebe;
  outline: none;
}
.send-message form textarea {
  width: 96%;
  height: 200px;
  padding: 10px;
  margin: 20px 1%;
  border-radius: 5px;
  border: 1px solid #bfbebe;
  outline: none;
}
.send-message form button {
  padding: 5px 20px;
  height: 45px;
  width: 100px;
  font-size: 1em;
  background-color: #ef3f3f;
  color: white;
  border: none;
}
.send-message iframe {
  border: 1px solid #cccaca;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  padding: 10px;
  margin-top: 100px;
  box-shadow: 5px 5px 10px gray;
}

/* --------------------------- categories pages ----------- */
.products-grid {
  background-color: #eae9e9;
  padding: 30px 0px;
  text-align: center;
}
.products-grid .product {
  padding: 20px 0px;
  margin: 20px 0px;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.products-grid .product:hover {
  background-color: #eaa0aa;
  box-shadow: 5px 5px 10px gray;
}
.products-grid .product:hover .save, .products-grid .product:hover .preview {
  opacity: 1;
}
.products-grid .product:hover img {
  transform: scale(1.1);
}
.products-grid .product:hover .item-counter {
  display: inline-block;
}
.products-grid .product img {
  width: 80% !important;
  height: 200px;
  margin: 0px 0px 10px;
  border-radius: 15%;
  border: 1px solid #b72f2f;
  padding: 3px;
  transition: all 0.5s ease;
}
.products-grid .product .price {
  display: block;
  margin-bottom: 10px;
}
.products-grid .product .item-counter {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 3px;
  display: none;
}

/*# sourceMappingURL=output.css.map */
